# ROS2 build artifacts
*/build/
*/install/
*/log/

# Map files and binarys
*.pgm

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
